.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Postlist {
  margin-top: 20px;
}

.Post {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
}

.Post h1 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 300;
}

.Postlikes {
  font-style: italic;
  font-weight: bold;
}
